service vendor.graphics.allocator-celadon /vendor/bin/hw/android.hardware.graphics.allocator-service.minigbm_celadon
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
    disabled
